# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Build directories
_minted-*/

# Beamer
*.nav
*.pre
*.snm
*.vrb